<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card tarjeta" style="width: 18rem;">
                <img src="https://imagessl.casadellibro.com/a/l/t1/81/9788411072281.jpg" class="card-img-top img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hijos de la Fabula</h5>
                    <p class="card-text">cuentos fabulantasticos de los hios de la fabula</p>
                </div>
            </div>
        </div>
    </div>
</div>